DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
PORT=3000
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=local-admin-password
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=oacn230j0n32fm0mpowesfmpo
FROM_EMAIL_NAME=makeideas
FROM_EMAIL_ADDRESS=makeideas@example.com